.form-container {
  width: 350px;
  margin-inline: auto;
  margin-block: 70px 0px;

  @include for-normal-layout {
    width: 400px;
  }

  label {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.9px;
    font-family: grotesk;
    font-weight: 700;
    color: $clr04;
    padding-block: 0px 14px;
    margin-block: 20px 0px;
  }

  .label-name {
    margin-block: 0;
  }
  .date-cvc-labels {
    display: flex;
    gap: 35px;
  }
  .date-cvc-inputs {
    display: flex;
    gap: 10px;
  }

  input {
    display: flex;
    border: 1px solid $clr03;
    border-radius: 5px;
    padding: 12px;
    font-size: 18px;
    width: 100%;

    &::placeholder {
      color: $clr02;
    }

    &#month,
    &#year {
      text-align: center;
      width: 65px;
    }

    &#cvc {
      width: 100%;
    }

    &:focus-visible {
      outline-style: none;
      border: 1px solid purple;
    }

    &.invalid {
        border: 1px solid red;
    }
    
  }

  .errorMsg{
    display: flex;
    align-items: center;
    height: 10px;
    font-size: 12px;
    color: red;
    margin: 5px 0 0 0 ;
    

  }
}
