.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 80px 0px 0px 0px;
  .img-container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url(/src/assets/icons/icon-complete.svg);
  }
  h1,h2 {
    margin: 0;
    padding: 0;
  }

  h1 {
    color: $clr04;

  }
  h2 {
    color:$clr03;
    font-size: 24px;
  }
  button {
    width: 80%;
    
  }
}
