* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: circular;
  background-color: black;
}

body {
  font-size: 14px;
  max-width: 2000px;
  min-width: 400px;
  margin: 0 auto;

  @include for-narrow-layout {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.6em;
  line-height: 1;
}

li {
  line-height: 0;
}

img {
  width: 100%;
}

p {
  margin: 0 0 1em;
  max-width: 40ch;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

button {
  font-family: circular;
}

input {
  font-family: circular;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

main {
  position: relative;
  background-color: $clr01;
}

aside {
  background-image: url("/src/assets/images/bg-main-desktop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  width: 300px;
  height: 150px;

  border-radius: 5px;

  @include for-narrow-layout {
    width: 400px;
    height: 200px;
  }
}

button {
  margin-block: 30px 0px;
  font-size: 20px;
  background-color: $clr04;
  color: $clr02;
  padding: 16px;
  border-radius: 10px;
  cursor: pointer;

  &:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
}
