@font-face {
    font-family: circular;
    src: url('/src/assets/fonts/Circular/CircularStd-Book.otf');
}

@font-face {
    font-family: circular-light;
    src: url('/src/assets/fonts/Circular/CircularStd-Light.otf');
}

@font-face {
    font-family: circular-bold;
    src: url('/src/assets/fonts/Circular/CircularSpText-Bold.otf');
}

@font-face {
    font-family: grotesk;
    src: url('/src/assets/fonts/Grotesk/SpaceGrotesk-VariableFont_wght.ttf');
}

