//grayScale
$clr01: hsl(0, 0%, 100%);
$clr02: hsl(270, 3%, 87%);
$clr03: hsl(279, 6%, 55%);
$clr04: hsl(278, 68%, 11%);

// colors
$clr-red: hsl(0, 100%, 66%);
$gradient: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
// Breakpoints
$mobile-breakpoint: 375px;
$narrow-breakpoint: 800px;
$normal-breakpoint: 1000px;
$wide-breakpoint: 1440px;
$desktop-breakpoint: 1440px



// layout vars

